body{
    background-color:#673AB7;
}

input[type='text'],input[type='password']{
    border: 0;
    font: 16px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    height: 50%;
    width: 100%;
    margin: 0px;
    border: 0px;
    padding:10px;
    max-height: 45px;
}


input[type='submit']{
    border: 0;
    font: 16px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    height: 50%;
    width: 100%;
    margin: 0px;
    border: 0px;
    padding:10px;
    color:white;
    max-height: 45px;
    background-color: #AB47BC;
    
}

.post{
    text-align: left;
    padding:0px;
    margin:0px;
    background-color:rgb(255, 255, 255);
    box-shadow: 1px 2px 4px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width:30%;
    font: 16px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    min-height:30%;
    color:rgba(0,0,0,.74)
}

.post h1{
    color:rgba(0,0,0,.84);
    padding:20px;
}

.content{
    padding:20px;
}


input[type='submit']:hover{
    cursor: pointer;
    background-color: #8E24AA;
}

hr{
    display: block;
    height: 0px;
    border: 0;
    border-top: 1px solid #cccc;
    margin: 0;
    padding: 0; 
}

h1{
    color:white;
    font: 50px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin:0px;
    padding-bottom: 10px;
}

.loginForm{
    width:30%;


    box-shadow: 1px 2px 4px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-color:#7986CB 
}

*:focus {
    outline: none;
}