
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
        <title>Infoset</title>
    </head>
    <body style="margin-top: 7%;">
        <center>
            <h1>CoachConnecxion<span id="underscore">_<div></div></span></h1>
            <form class="LoginForm">
                <input placeholder="Username" type="text" name="username">
                <hr>
                <input placeholder="Password" type="password" name="password">
                <input value="Login" type="submit" name="passwod">
            </form>
            <span style='font: 16px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;color:white;'>Don't have an account? Create one!</span>
        </center>      
    </body>
</html>

<script type="text/javascript">
    underscore=true;

   

    $( document ).ready(function() {

      

        setInterval(function(){ 
            if(underscore){
                
                $("#underscore").css('color',"white");
                
            }else{
                $("#underscore").css('color',"#673AB7");
            }
            underscore=!underscore;
        }, 500);
        
    });
</script>